In [1]:
import pandas as pd
sal = pd.read_excel ( "SALARY_DATA.xlsx" )
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [2]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,NO DATA,NO DATA,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [4]:
sal.info()
"THE INFORMATION OF DATASET IS GIVEN ABOVE"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

'THE INFORMATION OF DATASET IS GIVEN ABOVE'

In [5]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [6]:
sal["BasePay"].mean()

66325.4488404877

In [7]:
sal["OvertimePay"].max()

245131.88

In [8]:
sal["OvertimePay"].min()

-0.01

In [9]:
sal [ sal["EmployeeName"] == "JOSEPH DRISCOLL" ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [10]:
sal [ sal["EmployeeName"] == "JOSEPH DRISCOLL" ] ["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [11]:
sal [ sal["EmployeeName"] == "JOSEPH DRISCOLL" ] ["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [12]:
sal [ sal["EmployeeName"] == "Joseph Driscoll" ] ["TotalPayBenefits"]

36198    331834.79
Name: TotalPayBenefits, dtype: float64

In [13]:
sal["TotalPayBenefits"].max()

567595.43

In [14]:
sal [ sal["TotalPayBenefits"].max() == sal["TotalPayBenefits"] ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [15]:
sal [ sal["TotalPayBenefits"].max() == sal["TotalPayBenefits"] ] ["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [16]:
sal.loc [ sal["TotalPayBenefits"].idxmax() ]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [17]:
sal["TotalPayBenefits"].idxmax()

0

In [18]:
sal["TotalPayBenefits"].argmax()

0

In [19]:
sal.iloc [ sal["TotalPayBenefits"].argmax() ]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [20]:
sal.loc [ sal["TotalPayBenefits"].argmax() ]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [21]:
sal [ sal["TotalPayBenefits"].min() == sal["TotalPayBenefits"] ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [22]:
sal.groupby ("Year") .mean()

C:\Users\ARPIT-MIMANI\AppData\Local\Temp\ipykernel_7768\9073638.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sal.groupby ("Year") .mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [23]:
sal.groupby ("Year") .mean() ["BasePay"]

C:\Users\ARPIT-MIMANI\AppData\Local\Temp\ipykernel_7768\1903661938.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sal.groupby ("Year") .mean() ["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [24]:
sal.groupby ("Year") ["BasePay"] .mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [25]:
sal["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'NO DATA'], dtype=object)

In [26]:
sal["JobTitle"].nunique()

2159

In [27]:
sal["JobTitle"].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [28]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [29]:
sal [ sal["Year"] == 2013 ] ["JobTitle"] .value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
                                  ...
Sr General Utility Mechanic          1
Sprv Adult Prob Ofc (SFERS)          1
Mayoral Staff XII                    1
Pr Investigator, Tax Collector       1
Senior Assessment Clerk              1
Name: JobTitle, Length: 1051, dtype: int64

In [30]:
sal [ sal["Year"] == 2013 ] ["JobTitle"] .value_counts() == 1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Sr General Utility Mechanic        True
Sprv Adult Prob Ofc (SFERS)        True
Mayoral Staff XII                  True
Pr Investigator, Tax Collector     True
Senior Assessment Clerk            True
Name: JobTitle, Length: 1051, dtype: bool

In [31]:
sum ( sal [ sal["Year"] == 2013 ] ["JobTitle"] .value_counts() == 1 )

202

In [32]:
sal["JobTitle"]

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                           NO DATA
148651                                           NO DATA
148652                                           NO DATA
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [33]:
sal["JobTitle"].iloc[0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [34]:
def chief_string ( title ) :
    if "chief" in title.lower().split() :
        return True
    else :
        return False
    
chief_string ( "GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY" )

False

In [35]:
chief_string ( "CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY" )

True

In [36]:
sal ["JobTitle"] .apply ( lambda x : chief_string(x) )

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [37]:
sum ( sal ["JobTitle"] .apply ( lambda x : chief_string(x) ) )

477

In [38]:
sal["TitleLen"] = sal["JobTitle"] .apply (len)
sal["TitleLen"]

0         46
1         31
2         31
3         36
4         44
          ..
148649     9
148650     7
148651     7
148652     7
148653    26
Name: TitleLen, Length: 148654, dtype: int64

In [39]:
sal [[ "JobTitle" , "TitleLen" ]]

                                              JobTitle  TitleLen
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY        46
1                      CAPTAIN III (POLICE DEPARTMENT)        31
2                      CAPTAIN III (POLICE DEPARTMENT)        31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC        36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)        44
...                                                ...       ...
148649                                       Custodian         9
148650                                         NO DATA         7
148651                                         NO DATA         7
148652                                         NO DATA         7
148653                      Counselor, Log Cabin Ranch        26

[148654 rows x 2 columns]

In [40]:
sal [[ "TotalPayBenefits" , "TitleLen" ]]

        TotalPayBenefits  TitleLen
0              567595.43        46
1              538909.28        31
2              335279.91        31
3              332343.61        36
4              326373.19        44
...                  ...       ...
148649              0.00         9
148650              0.00         7
148651              0.00         7
148652              0.00         7
148653           -618.13        26

[148654 rows x 2 columns]

In [41]:
sal [[ "TotalPayBenefits" , "TitleLen" ]] .corr()

                  TotalPayBenefits  TitleLen
TotalPayBenefits           1.00000  -0.03685
TitleLen                  -0.03685   1.00000

In [42]:
sal.shape

(148654, 14)

In [43]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status', 'TitleLen'],
      dtype='object')

In [44]:
sal.shape

(148654, 14)

In [45]:
ecom = pd.read_excel ("ECOMMERCE_DATA.xlsx")
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123400,2020-02-01,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645350,2018-11-01,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,2019-08-01,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,2024-02-01,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207990,2025-10-01,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,2022-03-01,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,2025-07-01,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356310,2021-05-01,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,2017-11-01,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927270,2019-02-01,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [46]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123400,2020-02-01,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645350,2018-11-01,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,2019-08-01,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,2024-02-01,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207990,2025-10-01,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [47]:
ecom.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,2022-03-01,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,2025-07-01,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356310,2021-05-01,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,2017-11-01,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927270,2019-02-01,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [48]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [49]:
len ( ecom.columns )

14

In [50]:
ecom.index

RangeIndex(start=0, stop=10000, step=1)

In [51]:
len ( ecom.index )

10000

In [52]:
ecom.info()
"THE INFORMATION OF DATASET IS GIVEN ABOVE"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  datetime64[ns]
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(10)
memory usage: 1.1+ MB

'THE INFORMATION OF DATASET IS GIVEN ABOVE'

In [53]:
ecom["Purchase Price"].mean()

50.347302

In [54]:
ecom["Purchase Price"].max()

99.99

In [55]:
ecom["Purchase Price"].min()

0.0

In [56]:
ecom [ ecom["Language"] == "en" ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,2026-06-01,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067900,2026-05-01,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056580,2022-07-01,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,2019-03-01,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,2022-03-01,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581600,2016-08-01,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424060,2025-07-01,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704660,2019-07-01,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,2019-02-01,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,2023-10-01,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [57]:
ecom [ ecom["Language"] == "en" ] .count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [58]:
ecom [ ecom["Language"] == "en" ] ["Language"] .count()

1098

In [59]:
ecom [ ecom["Job"] == "Lawyer" ] .info()
"GET THE NUMBER OF JOB TITLE AS LAWYER"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     datetime64[ns]
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(10)
memory usage: 3.5+ KB

'GET THE NUMBER OF JOB TITLE AS LAWYER'

In [60]:
ecom [ ecom["Job"] == "Lawyer" ] .count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [61]:
ecom [ ecom["Job"] == "Lawyer" ] .index

Int64Index([ 470,  508, 1275, 1569, 1682, 2164, 2619, 2935, 3663, 3738, 3966,
            5053, 5339, 5452, 5562, 5974, 6131, 6136, 6220, 7368, 7645, 8127,
            8220, 8620, 8683, 8801, 8860, 9175, 9659, 9979],
           dtype='int64')

In [62]:
len ( ecom [ ecom["Job"] == "Lawyer" ] .index )

30

In [63]:
ecom["AM or PM"].unique()

array(['PM', 'AM'], dtype=object)

In [64]:
ecom["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [65]:
ecom["Job"].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [66]:
ecom["Job"].value_counts().head(10)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Designer, jewellery                  27
Research officer, political party    27
Charity fundraiser                   26
Designer, fashion/clothing           26
Social worker                        26
Dietitian                            26
Name: Job, dtype: int64

In [67]:
ecom [ ecom["Lot"] == "90 WT" ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,2019-11-01,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [68]:
ecom [ ecom["Lot"] == "90 WT" ] ["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

In [69]:
ecom [ ecom["Credit Card"] == 4926535242672850 ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672850,2021-09-01,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [70]:
ecom [ ecom["Credit Card"] == 4926535242672850 ] ["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [71]:
ecom [ ( ecom["CC Provider"] == "American Express" ) & ( ecom["Purchase Price"] > 95 ) ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,2017-01-01,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63
280,81060 Dustin Causeway Apt. 503\nPort Danielche...,80 zh,PM,Mozilla/5.0 (Windows NT 5.01) AppleWebKit/5362...,Clay PLC,377737470673585,2017-10-01,349,American Express,hfarley@hicks.com,Ergonomist,134.52.148.32,de,99.13
372,"359 Stanley Coves\nSalasfort, SD 59457",75 Ub,PM,Opera/8.42.(X11; Linux x86_64; en-US) Presto/2...,Davis-Lawrence,371995567939253,2026-02-01,1877,American Express,amberhull@jones.net,Training and development officer,198.98.34.250,pt,99.08
677,"4855 Peter Bridge\nJohnsonberg, PA 90599-0009",62 Nx,AM,Opera/9.49.(Windows 98; Win 9x 4.90; en-US) Pr...,Jones and Sons,4960556611626430,2026-07-01,9255,American Express,evanskayla@fernandez.com,Plant breeder/geneticist,235.97.240.112,el,98.97
766,"386 Alisha Unions\nSteelebury, ND 19782",28 pJ,PM,Opera/8.47.(X11; Linux x86_64; sl-SI) Presto/2...,Proctor PLC,30325623350308,2024-04-01,772,American Express,robertsonjulia@gmail.com,"Therapist, art",146.208.30.83,es,96.66
1225,"916 Amanda Heights\nNew Johnland, CA 52112-8572",09 vg,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Clark, Ross and Travis",371229555854245,2021-10-01,366,American Express,lawrencecarter@kelly.com,Artist,88.49.59.205,pt,96.55
1381,"79284 Lisa Mews Suite 069\nKellyborough, CT 71...",45 MR,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_5; r...,Randall-Cohen,4855262855037,2017-05-01,518,American Express,maldonadomichael@martinez-delgado.info,Geophysical data processor,50.40.147.204,it,96.11
1385,"67796 James Keys Suite 656\nSouth Katieshire, ...",06 ia,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5330 ...,"Gonzalez, Gross and Allen",30407332938506,2020-12-01,597,American Express,vbrown@daugherty.com,Geophysical data processor,152.133.246.191,zh,98.89
1568,"76108 Barker Manors\nEast Amy, PW 49544-5921",82 Qw,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,"Nguyen, Branch and Wiley",5142451859832460,2021-04-01,785,American Express,johnsonjulie@yahoo.com,Insurance claims handler,175.248.232.126,es,97.04
1727,"478 Anita Hill Apt. 766\nAverymouth, FM 50629-...",94 qM,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Owen and Sons,30242757909967,2019-11-01,7403,American Express,sharpmelanie@smith-johnson.com,"Psychologist, prison and probation services",126.47.196.22,ru,95.58
2146,"557 Barton Harbor\nFuentesport, VI 29961",96 MV,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows 98;...,Flores-Cook,3337255995040370,2019-04-01,28,American Express,jessica94@mosley-buchanan.com,Armed forces technical officer,35.97.189.19,es,98.01
2264,"040 Ingram Way Suite 602\nEast Matthew, AR 67341",52 WA,AM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5341 ...,"Baker, Simmons and Pitts",3096946456575620,2022-11-01,56,American Express,holtamanda@gmail.com,Archaeologist,185.14.106.115,es,99.85
2267,"216 Olivia Court Apt. 439\nTonyshire, IN 19159...",11 za,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_4; r...,Olson Inc,5388757330269350,2017-02-01,738,American Express,burkestephanie@lee-cameron.com,Management consultant,20.140.16.225,it,97.63
2642,899 Williams Prairie Suite 234\nEast Hunterbur...,46 hb,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Webb Inc,3096797127305090,2017-05-01,418,American Express,reevesmanuel@gmail.com,"Engineer, maintenance (IT)",169.132.152.152,el,96.08
2828,"20135 Miller Green Apt. 763\nGarciaville, KY 6...",79 El,PM,Mozilla/5.0 (Windows; U; Windows CE) AppleWebK...,"Zavala, Cox and Parker",5173968976288210,2022-11-01,125,American Express,villarrealdavid@gray.com,Chartered management accountant,76.75.229.58,el,96.12
3291,"58939 Reese Cove\nSouth Ross, MA 54531",50 cD,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows 95;...,"Chang, Davis and Snyder",349464844934636,2023-11-01,103,American Express,stephanieacosta@yahoo.com,IT trainer,124.247.101.106,it,95.94
3349,1984 Christopher Turnpike Suite 904\nRichardbu...,30 xs,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,Martin-Mitchell,3096398727024630,2019-03-01,439,American Express,hgross@mccoy-mckay.info,Structural engineer,167.172.139.33,pt,95.46
3619,"03233 Angela Road Apt. 808\nEast Jilliantown, ...",41 nH,PM,Opera/9.53.(Windows 95; en-US) Presto/2.9.175 ...,"Silva, Kim and Martinez",4807251488895720,2021-10-01,948,American Express,jonesjesse@castro.info,Garment/textile technologist,87.66.16.4,en,99.69
4071,"8161 Craig Passage Apt. 939\nPort Emilystad, R...",45 ab,AM,Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...,Wilson-Robinson,5506767693718320,2023-08-01,18,American Express,hhenderson@yahoo.com,Customer service manager,119.74.76.168,es,96.49
4569,"88284 Austin Summit Apt. 805\nKellerside, WY 6...",03 WL,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_5...,"Fisher, Thompson and Lynch",3088726880694570,2019-12-01,159,American Express,amy00@patton.com,Actuary,207.18.223.8,el,97.38
5385,USNS Smith\nFPO AA 37829,80 BX,AM,Opera/9.56.(X11; Linux x86_64; en-US) Presto/2...,Patterson-Miller,4411786056713950,2022-12-01,452,American Express,ijones@hotmail.com,Field seismologist,251.254.250.100,el,96.13
5655,"38674 Mckay Vista\nWilsonbury, MO 55611-8663",95 aB,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5331...,Watson-Bailey,3096820981608610,2020-05-01,259,American Express,timothy84@hotmail.com,"Production designer, theatre/television/film",235.149.102.129,es,98.28
5692,"PSC 8264, Box 8124\nAPO AE 19700",97 sG,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Moore Inc,6011499701167580,2020-10-01,845,American Express,kellypace@yahoo.com,Aid worker,155.121.60.58,pt,98.66
5814,Unit 5232 Box 4650\nDPO AE 28335-7543,71 So,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5342...,Garcia LLC,30346960979608,2017-07-01,402,American Express,jrice@gmail.com,Solicitor,165.48.161.188,zh,96.73
5875,"8256 Anderson Forest\nFordbury, PA 81027-8980",17 Oe,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Kelly, Peterson and Oliver",5173335726386570,2018-02-01,954,American Express,hernandezandrea@yahoo.com,Community development worker,212.168.246.27,ru,95.07
5895,"87003 Jason Tunnel Apt. 216\nDariusville, MS 8...",72 gL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Reyes, Fox and Wilson",180010957603245,2024-09-01,929,American Express,duncanmichael@hotmail.com,Event organiser,231.34.199.32,it,97.38
6026,Unit 4385 Box 1428\nDPO AE 04110,58 Ex,AM,Mozilla/5.0 (Windows; U; Windows NT 5.01) Appl...,White Inc,3112975578138570,2017-09-01,7,American Express,scott35@yahoo.com,Operations geologist,217.6.202.138,en,95.89
6524,"344 Rivera Shore Apt. 224\nJoshuaborough, ND 3...",44 SM,AM,Opera/8.62.(X11; Linux i686; en-US) Presto/2.9...,"Lawson, Moyer and Valencia",379348662534664,2017-06-01,809,American Express,olsonjohn@hotmail.com,"Teacher, primary school",45.1.104.55,zh,97.87
7239,"81561 Stein Rue\nEast Melissaport, MA 64959",45 sZ,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5310...,Smith Ltd,503825682670,2019-07-01,852,American Express,beckerjennifer@gmail.com,"Engineer, energy",50.107.135.203,fr,97.32
7381,"40804 Belinda Roads Apt. 186\nWest Nicoleberg,...",30 GH,AM,Opera/9.32.(Windows NT 4.0; it-IT) Presto/2.9....,Blair-Keith,180089858618619,2019-05-01,2107,American Express,woodsmatthew@walton.org,Fashion designer,223.87.136.82,es,99.81
7416,"1082 Jason Alley Suite 707\nWhitestad, SC 97805",08 bm,PM,Mozilla/5.0 (Windows NT 5.1; sl-SI; rv:1.9.2.2...,"Carroll, Harrison and Escobar",3088903707645290,2018-12-01,220,American Express,gcruz@butler.com,Broadcast presenter,193.90.91.152,pt,96.09
7514,"678 David Manor Suite 323\nBobbymouth, PW 59942",91 NA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows 98;...,"Glenn, Lowe and Shah",676298897445,2026-04-01,61,American Express,tammy75@cameron.com,Automotive engineer,37.241.180.247,ru,98.36
8233,"327 Hamilton Hollow\nEast Nicolechester, RI 65868",53 dE,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_3...,"Keller, Carter and Garcia",30299608736429,2022-08-01,786,American Express,elliskaren@taylor.com,Chemical engineer,131.34.220.138,en,98.63
8381,"274 Wallace Pine Apt. 189\nMartinberg, WY 7548...",32 rI,PM,Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....,Kelly-Newman,5527104423944290,2018-05-01,711,American Express,joneswilliam@cox.net,"Surveyor, land/geomatics",29.211.114.191,ru,99.36
8408,Unit 4967 Box 4574\nDPO AP 11412,05 zs,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...,Acevedo-Smith,3337721305744240,2019-01-01,738,American Express,nunezjames@hotmail.com,"Designer, exhibition/display",91.55.254.144,es,98.16
8434,"474 Gonzalez Meadow Suite 581\nEast Vincent, M...",14 St,PM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Miller and Sons,180059754370698,2024-07-01,812,American Express,vtaylor@hatfield.com,Armed forces technical officer,26.69.128.20,it,97.90
8817,"3658 Campos Lodge\nChambersfurt, MH 86260",24 ej,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,Fisher-Jones,210046575239925,2025-09-01,860,American Express,jessica35@hotmail.com,Forensic scientist,18.74.143.113,fr,99.16
9168,"18782 Hall Row Suite 810\nSouth Wesleyville, I...",15 QU,PM,Opera/9.57.(X11; Linux i686; it-IT) Presto/2.9...,Butler PLC,5412611065926440,2025-05-01,49,American Express,tammyblair@yahoo.com,Computer games developer,2.84.51.133,en,98.59
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242930,2018-03-01,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97

In [72]:
ecom [ ( ecom["CC Provider"] == "American Express" ) & ( ecom["Purchase Price"] > 95 ) ] .count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [73]:
len ( ecom [ ( ecom["CC Provider"] == "American Express" ) & ( ecom["Purchase Price"] > 95 ) ] .index )

39

In [74]:
ecom["Year"] = ecom["CC Exp Date"].dt.year
ecom["Year"]

0       2020
1       2018
2       2019
3       2024
4       2025
        ...
9995    2022
9996    2025
9997    2021
9998    2017
9999    2019
Name: Year, Length: 10000, dtype: int64

In [75]:
ecom [ ecom["Year"] == 2025 ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Year
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207990,2025-10-01,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,2025
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,2025-07-01,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,2025
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,2025-06-01,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25,2025
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938570,2025-01-01,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93,2025
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,2025-04-01,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,"66539 Potts Forge\nCartershire, AK 58271-5180",37 KB,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,Russell PLC,4716539058450,2025-02-01,2805,JCB 16 digit,matthewcontreras@bradshaw-skinner.com,Podiatrist,88.110.181.120,zh,84.09,2025
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424060,2025-07-01,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17,2025
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,2025-10-01,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61,2025
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121070,2025-01-01,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85,2025
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,2025-07-01,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,2025

In [76]:
ecom [ ecom["Year"] == 2025 ] .count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
Year                1033
dtype: int64

In [77]:
ecom [ ecom["Year"] == 2025 ] ["Year"] .count()

1033

In [78]:
example_email =  ecom["Email"].iloc[0]
example_email

'pdunlap@yahoo.com'

In [79]:
example_email.split("@")

['pdunlap', 'yahoo.com']

In [80]:
example_email.split("@")[1]

'yahoo.com'

In [81]:
ecom["Email"] .apply ( lambda email_id : email_id.split("@")[1] )

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [82]:
ecom["Email"] .apply ( lambda email_id : email_id.split("@")[1] ) .value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: Email, Length: 3416, dtype: int64

In [83]:
ecom["Email"] .apply ( lambda email_id : email_id.split("@")[1] ) .value_counts() .head(10)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
brown.com         29
johnson.com       29
davis.com         25
jones.com         25
martinez.com      19
Name: Email, dtype: int64

In [84]:
ecom.shape

(10000, 15)